<!-- videos details -->
<div class="container details_content" id="videos_details">
    <div class="details_left col-md-10 col-xs-12">
        <div class="col-md-12 col-xs-12">
            <video style="margin: 0 auto;" id="my-video" class="video-js vjs-default-skin vjs-big-play-centered " controls preload="auto"
                poster="{{.Img}}" data-setup="{}">
                <source src="{{.Src}}" type="video/mp4" />
            </video>
        </div>
        <div class="img_text col-md-12 col-xs-12">
            <h5>{{.Title}}</h5>
            <div class="col-md-8 col-xs-8">
                <p class="font_gray">
                    <span>Added</span>
                    <b>{{.Time}}</b>
                </p>
            </div>
        </div>
    </div>
    <div class="details_right col-md-2 col-xs-12">
        <div class="detail_btn col-md-12 col-xs-6">
            <a class="col-md-8 col-md-offset-2 col-xs-5 btn btn-yellow" href={{.last}}>
                <b>Back</b>
            </a>
            <a class="col-md-8 col-md-offset-2 col-xs-5 btn btn-yellow" href={{.next}}>
                <b>Next</b>
            </a>
        </div>
        <div class="likes_icon col-md-12 col-xs-6">
            <div class="like_up col-md-6 col-md-offset-3 col-xs-6">
                <img class="col-xs-5" src="/static/img/up.png">
                <h4 class="text-left col-xs-5">{{.Like}}</h4>
            </div>
            <div class="like_down col-md-6 col-md-offset-3 col-xs-6">
                <img class="col-xs-5" src="/static/img/down.png">
                <h4 class="text-left">{{.Dislike}}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-xs-12 img_bottom">
        <h6>You May Like</h6>
        <div class="content grid">
            {{range .YouMaylike}}
            <a href="/category/video/item/{{.Id}}">
                <div class="col-xs-6 show_content index_content">
                    <div class="index_img">
                        <img src="{{.Img}}" data-src="{{.Img}}" class="blur-up lazyload" onerror="this.src='//static.ifunnyhub.com/assets/loading.jpg'">
                        <div class="img_text">
                            <small>{{.Title}}</small>
                            <small class="num">
                                <i class="fa fa-eye"></i> {{.Playnum}}</small>
                        </div>
                    </div>
                </div>
            </a>
            {{end}}
        </div>
    </div>
</div>