<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <h5 class="modal-title text-center font-weight">Login or sign up to comment</h5>

            <form action="{{.action}}" role="form" class="col-md-10 col-md-offset-1 col-xs-12" method="POST">
                <input type="" class="userMsg col-md-12 col-xs-12" name="EmailOrPhone" placeholder="email or phone">
                <input type="password" name="Password" placeholder="password" class="userMsg col-md-12 col-xs-12">
                <div class="col-md-12 col-xs-12 login_btn" style="text-align: center;">
                    <button type="submit" class="btn btn-yellow">LOGIN</button>
                </div>
            </form>

            <div class="jump col-md-10 col-md-offset-1 col-xs-12 text-center">
                <a href="/" class="font_gray" data-dismiss="modal">Not register yet? Click here</a>
            </div>
        </div>
    </div>
</div>