<div class="modal-body">
<div class="col-md-4 col-md-offset-4 setEmail" id="myEmail">      
  <h5 class="text-center col-md-10 col-md-offset-1 col-xs-12">Input Your E-mail...</h5>
  <form action="/forget_password" class="col-md-12 col-xs-12" method="POST">
    <input class="userMsg col-md-12 col-xs-12" type="email" id="userEmail" placeholder="E-mail" Name="Email" />  
    <div class="col-md-12 col-xs-12 login_btn">
      <button class="btn btn-yellow emailBtn" id="emailBtn">Submit</button>
    </div>
  </form>        
</div>
</div>
