<a href="{{printf "/category/%s/item/%d" .category.Code .item.ID }}">
   {{ if eq .category.Code "ringtone" }}
     <div class="col-xs-6 show_content index_content">                                                                               
       <div class="rings">
         <div class="col-xs-3 col-md-3 rings_left">
            <img src="/static/img/mp3.png">
         </div>                
         <div class="col-xs-9 col-md-9 rings_right">
           <span class="sm_top">{{ .item.Title }}</span>
           <i class="fa fa-play-circle fa-lg fa-1 sm_bot"></i><span class="play_text"> Play</span>
         </div>
       </div>
     </div>
   {{ else }}
    <div class="col-xs-6 show_content index_content">
     <div class="index_img">
       <img src="//static.ifunnyhub.com/assets/loading.jpg" data-src="{{ .item.PreViewImage }}" class="lazyload blur-up" onerror="this.src='//static.ifunnyhub.com/assets/loading.jpg'"/>
       <div class="img_text">
         <small>{{ .item.Title }}</small>
         <small><i class="fa fa-eye impression" data-seed="{{.item.Seed}}"></i></small>
       </div>
     </div>
    </div>
   {{ end }}
</a>
