<div class="col-md-10 col-xs-12 img_bottom ">
    <h6>You May Like</h6>
    {{ range .items }}
    <div class="col-md-3 col-xs-6">
      {{ $category := .GetCategory }}
	  <a href="{{printf "/category/%s/item/%d" $category.Code .ID }}">
      <div class="img_likes">
        <div>
            <img src="//static.ifunnyhub.com/assets/loading.jpg" data-src="{{.PreViewImage}}" class="lazyload blur-up" onerror="this.src='//static.ifunnyhub.com/assets/loading.jpg'"/>
        </div>
        <div class="likes_name">
            <p>{{.Title}}</p>
          <p class="font_gray">
            <span></span>
          </p>
        </div>
      </div>
      </a>
    </div>
    {{ end }}
  </div>
