{{ $req := .req }}
{{ $current_tag := .req.URL.Query.Get "tags" }}
<select class="sec_drop col-md-2" id="index_sec" onchange="location = this.value;">
  <option value='{{$req.URL.Path}}'>All Funny</option>
  {{ range .tags }}
  {{ $id := string "%d" .ID }}
  <option value='{{ addURLQuery $req.URL.Path "tags"  $id }}' {{ if eq $current_tag $id }} selected {{ end }}>
      {{.Name}}
    </option>
  {{end}}
</select>
